.env
node_modules
package-lock.json
package.json

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store

# Build output
dist/
build/

# IDE-specific files
.vscode/
.idea/

# Test coverage
coverage/

# Temporary files
*.tmp
*.swpBackend/.env
